---
import Layout from "../layouts/Layout.astro";
import Position from "../components/Position.astro";
import positions from "../api/positions.json";
import socials from "../api/socials.json";
import about from "../api/about.json";
import { SocialIcon } from "react-social-icons";
---

<Layout title={about.name}>
  <div class="max-w-screen-xl mx-auto lg:flex lg:flex-row gap-x-4">
    <header class="lg:basis-1/2 relative after:xl:divider-line">
      <div class="lg:sticky lg:top-0 pt-8 md:pt-14 lg:py-24">
        <h1 class="text-2xl lg:text-4xl xl:text-5xl text-secondary font-light">
          {about.name}
        </h1>
        <h2 class="pt-2 text-lg text-highlight font-bold">{about.title}</h2>
        <h3 class="text-sm text-secondary">
          <a
            href="https://deepfried.com"
            rel="noopener noreferrer nofollow"
            target="_blank">{about.employment_title}</a
          >
        </h3>
        <ul class="pt-10">
          {
            socials.map((social) => (
              <li class="inline-block mr-4">
                <a
                  href={social.url}
                  rel="noopener noreferrer nofollow"
                  target="_blank"
                >
                  <SocialIcon
                    bgColor="currentColor"
                    fgColor="transparent"
                    url={social.url}
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </header>
    <main class="text-sm leading-relaxed lg:basis-1/2 pt-10 lg:py-24">
      {about.bio.map((b) => <p>{b}</p>)}
      <ul role="list" class="pb-8">
        {positions.map((position) => <Position position={position} />)}
      </ul>
    </main>
  </div>
  <script>
    import consoleMessage from "../api/consoleMessage.json";
    console.log(consoleMessage);
  </script>
</Layout>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer utilities {
    .divider-line {
      @apply content-[''] block fixed w-px top-12 bottom-12 bg-highlight opacity-20;
      left: 48%;
    }
    main p + p {
      @apply mt-6;
    }
  }
</style>
